.container {
  max-width: 100%;
  text-align: center;
  margin-top: 0%;
}

.dice {
  text-align: center;
}

body {
  background-color: #393e46;
}

h1 {
  margin: 30px;
  font-family: "Lobster", cursive;
  text-shadow: 5px 0 #232931;
  font-size: 2rem;
  color: #4ecca3;
}

p {
  font-size: 1rem;
  color: #4ecca3;
  font-family: "Indie Flower", cursive;
}

img {
  width: 10%;
}

footer {
  margin-top: 5%;
  color: #eeeeee;
  text-align: center;
  font-family: "Indie Flower", cursive;
}
